/* https://coolors.co/e7ecef-879cb3-274c77-447199-6096ba-a3cef1-8b8c89 */
@import './tokens/color-pallet.scss';
@import './tokens/font.scss';
@import './reset.scss';
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,200..700,0..1,0");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

:root {
    font-family: 'Roboto', sans-serif;
    font-size: $font-size--md;
    background-color: var(--background-color);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}  