:root {
    --background-color: #DBE2E8;
    --primary-color: #274C77;
    --primary-color--darker: #447199;
    --primary-color--lighter: #A3CEF1;
    --primary-color--lightest: #A1CDF0;
    --inner-background-color: #CFD8E0;
    --warning: #eac54f;
    --dark: #000000;
    --light: #FFFFFF;

    --primary-gradient: linear-gradient(90deg, rgba(39, 76, 119, 0.9289916650253851) 16%, rgba(68, 113, 153, 1) 72%, rgba(163, 206, 241, 1) 100%);
}