@import '@/styles/tokens/index.scss';

.menu {
    z-index: 2;
    min-height: 80px;
    box-shadow: $elevation;
    background: var( --background-color);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing--sm $spacing--md;
    font-size: $font-size--xl;
    
    h1 {
        font-family: 'Oswald', sans-serif;
    }

    a {
        color: var(--dark);
        font-family: 'Oswald', sans-serif;
        text-decoration: none;
    }

    &__main-text {
        user-select: none;
        gap: $spacing--sm;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}